.container {
  background-color: rgb(134, 248, 204);
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}
.btn {
  background-color: white;
  color: black;
  outline-style: solid;
  outline-color: black;
  outline-width: .1rem;
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: .3rem;
  padding-bottom: .3rem;
}

